body {
    font-family: "Roboto";
}

.header,
.footer {
    background-color: #1f2937;
    color: white;
}

.intro-main {
    font-size: 48px;
    font-weight: bolder;
}

.nav,
.second-main {
    font-weight: 18px;
    color: #ebe5e6;
}

.logo {
    font-weight: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
}

.contact {
    background-color: #3882F6;
}

.main-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.nav {
    display: flex;
    flex: 1;
}

.link {
    display: flex;
    justify-content: flex-end;
}