body {
    font-family: "Roboto";
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 150px 60px 150px;
}

.intro {
    padding: 50px 0;
}

.button1 {
    margin-top: 12px;
}

.intro-main {
    font-size: 48px;
    font-weight: bolder;
}

.nav,
.second-main {
    font-weight: 18px;
    color: #ebe5e6;
}

.logo {
    font-weight: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
    width: 100px;
    color: #f9faf8;
    border-radius: 7px;
    font-weight: bold;
    padding: 4px;
    border-color: #f9faf8;
}

.main {
    margin-top: 30px;
    margin-bottom: 40px;
}

.main-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.nav {
    display: flex;
}

.link {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 24px;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.intro-text {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    gap: 60px;
    text-align: center;
    margin: 64px;
}

.info {
    max-width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.author {
    margin-left: 120px;
}

.contact {
    margin: 50px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 30px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 26px;
}